@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Seymour+One&display=swap');
@import './Moustache.css';

body, html {
  background-color: #00d0ee;
  display: flex;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff400;
  width: 100vw;
}

.speech-bubble {
  color: #000000;
  height: 250px;
  width: 45%;
  min-width: 200px;
  background: ivory;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 50px;
  font-size: 3vh;
  text-align: center;
  padding: 2%;
}

.speech-arrow {
  height: 40px;
	width: 40px;
	background: ivory;
	margin: 0 auto;
	transform: rotate(45deg);
	border-radius: 0 0 12px 0;
	margin-top: -22px;
	position: relative;
	left: calc(0.5vw + 80px);

}
.swanson-heading {
  color: #fff400;
  font-size: 3em;
  font-family: 'Archivo Black', sans-serif;
  text-shadow: 0 2px 0 rgb(0, 0, 0);
}

.swanson-switch {
  background-color: #2fbf03;
  color: #ffffff;
  border: solid 2px #fff400;
  padding: 10px;
  border-radius: 7px;
}
